/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or in your component file inside <style> tag */
@keyframes blink {
    0%, 100% {
      border-color: transparent;
    }
    50% {
      border-color: purple; /* Change this to your desired color */
    }
  }
  
  .blinking-border {
    border: 2px solid transparent; /* Base border width */
    animation: blink 1s infinite; /* Adjust the duration as needed */
  }
  

  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .slide-up {
    animation: slideUp 1s ease-in-out;
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  